@charset "utf-8";

/* ----------------------------------------------------------------
*	01. Utility
*	02. Template
*	03. Header
*	04. Footer
----------------------------------------------------------------- */

/* ----------------------------------------------------------------
01. Utility
----------------------------------------------------------------- */

/**
 * Reset
 */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,textarea,p,a,blockquote,th,td {
margin: 0;
padding: 0;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
img {
border: 0;
vertical-align: bottom;
}
address,caption,code,em,th {
font-style: normal;
font-weight: normal;
}
li { list-style: none }
caption,th { text-align: left }
h1,h2,h3,h4,h5,h6 {
font-size: 100%;
font-weight: normal;
}
q:before,q:after { content: '' }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
input,textarea,select {
-moz-box-sizing: inherit;
-ms-box-sizing: inherit;
box-sizing: inherit;
font-family: inherit;
font-size: inherit;
font-weight: inherit;
margin: 0;
padding: 0;
vertical-align: middle;
}
a {
color: #3b3b3b;
text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/**
 * for HTML5
 */

article,aside,dialog,figure,footer,header,hgroup,menu,nav,section { display: block }


/**
 * Clear fix
 */

.cf:before,
.cf:after {
content: " ";
display: table;
}
.cf:after { clear:both }


/**
 * Lib
 */

.mgt0 { margin-top: 0!important }
.mgt5 { margin-top: 5px!important }
.mgt10 { margin-top: 10px!important }
.mgt15 { margin-top: 15px!important }
.mgt20 { margin-top: 20px!important }
.mgt25 { margin-top: 25px!important }
.mgt30 { margin-top: 30px!important }
.mgt35 { margin-top: 35px!important }
.mgt40 { margin-top: 40px!important }
.mgt45 { margin-top: 45px!important }
.mgt50 { margin-top: 50px!important }

.mgb0 { margin-bottom: 0!important }
.mgb5 { margin-bottom: 5px!important }
.mgb10 { margin-bottom: 10px!important }
.mgb15 { margin-bottom: 15px!important }
.mgb20 { margin-bottom: 20px!important }
.mgb25 { margin-bottom: 25px!important }
.mgb30 { margin-bottom: 30px!important }
.mgb35 { margin-bottom: 35px!important }
.mgb40 { margin-bottom: 40px!important }
.mgb45 { margin-bottom: 45px!important }
.mgb50 { margin-bottom: 50px!important }

.mgl0 { margin-left: 0!important }
.mgl5 { margin-left: 5px!important }
.mgl10 { margin-left: 10px!important }
.mgl15 { margin-left: 15px!important }
.mgl20 { margin-left: 20px!important }
.mgl25 { margin-left: 25px!important }
.mgl30 { margin-left: 30px!important }
.mgl35 { margin-left: 35px!important }
.mgl40 { margin-left: 40px!important }
.mgl45 { margin-left: 45px!important }
.mgl50 { margin-left: 50px!important }

.mgr0 { margin-right: 0!important }
.mgr5 { margin-right: 5px!important }
.mgr10 { margin-right: 10px!important }
.mgr15 { margin-right: 15px!important }
.mgr20 { margin-right: 20px!important }
.mgr25 { margin-right: 25px!important }
.mgr30 { margin-right: 30px!important }
.mgr35 { margin-right: 35px!important }
.mgr40 { margin-right: 40px!important }
.mgr45 { margin-right: 45px!important }
.mgr50 { margin-right: 50px!important }

.pd0 { padding: 0!important }
.pdt0 { padding-top: 0!important }
.pdt5 { padding-top: 5px!important }
.pdt10 { padding-top: 10px!important }
.pdt15 { padding-top: 15px!important }
.pdt20 { padding-top: 20px!important }
.pdt25 { padding-top: 25px!important }
.pdt30 { padding-top: 30px!important }
.pdt35 { padding-top: 35px!important }
.pdt40 { padding-top: 40px!important }
.pdt45 { padding-top: 45px!important }
.pdt50 { padding-top: 50px!important }
.pdt90 { padding-top: 90px!important }

.pdb0 { padding-bottom: 0!important }
.pdb5 { padding-bottom: 5px!important }
.pdb10 { padding-bottom: 10px!important }
.pdb15 { padding-bottom: 15px!important }
.pdb20 { padding-bottom: 20px!important }
.pdb25 { padding-bottom: 25px!important }
.pdb30 { padding-bottom: 30px!important }
.pdb35 { padding-bottom: 35px!important }
.pdb40 { padding-bottom: 40px!important }
.pdb45 { padding-bottom: 45px!important }
.pdb50 { padding-bottom: 50px!important }

.pdl0 { padding-left: 0!important }
.pdl5 { padding-left: 5px!important }
.pdl10 { padding-left: 10px!important }
.pdl15 { padding-left: 15px!important }
.pdl20 { padding-left: 20px!important }
.pdl25 { padding-left: 25px!important }
.pdl30 { padding-left: 30px!important }
.pdl35 { padding-left: 35px!important }
.pdl40 { padding-left: 40px!important }
.pdl45 { padding-left: 45px!important }
.pdl50 { padding-left: 50px!important }

.pdr0 { padding-right: 0!important }
.pdr5 { padding-right: 5px!important }
.pdr10 { padding-right: 10px!important }
.pdr15 { padding-right: 15px!important }
.pdr20 { padding-right: 20px!important }
.pdr25 { padding-right: 25px!important }
.pdr30 { padding-right: 30px!important }
.pdr35 { padding-right: 35px!important }
.pdr40 { padding-right: 40px!important }
.pdr45 { padding-right: 45px!important }
.pdr50 { padding-right: 50px!important }

.tac { text-align: center!important }
.tal { text-align: left!important }
.tar { text-align: right!important }
.fwb { font-weight: bold!important }
.fwn { font-weight: normal!important }
.wsn { white-space: nowrap!important }
.vam { vertical-align: middle!important }
.vat { vertical-align: top!important }
.vab { vertical-align: bottom!important }
.dpb { display: block!important }
.dpn { display: none!important }
.dpi { display: inline!important }
.dpib { display: inline-block!important }
.psr { position: relative!important }
.bdn { border: none!important }
.bdtn { border-top: none!important }
.bdbn { border-bottom: none!important }

.img-center {
height: 100%;
left: 50%;
position: absolute;
top: 50%;
width: auto;
z-index: 100;
-webkit-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
}


/* ----------------------------------------------------------------
02. Template
----------------------------------------------------------------- */

body {
color: #3b3b3b;
font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
font-size: 14px;
line-height: 1.5;
}

/* ----------------------------------------------------------------
03. Header
----------------------------------------------------------------- */
/* --- .header --- */
.header {
background-color: #fdebfb;
border-bottom: 1px solid #e4e4e4;
box-sizing: border-box;
margin: 0 auto;
text-align: left;
width: 100%;
}

.header_inner {
margin: 0 auto;
width: 960px;
}

.header_inner_logo {
box-sizing: border-box;
height: 90px;
padding: 5px 0;
width: 215px;
}

.header_inner_logo:hover {
opacity: 0.8;
}


/* ----------------------------------------------------------------
04. Footer
----------------------------------------------------------------- */
/* --- footerWrap --- */
.footer {
background-color: #fdebfb;
border-bottom: 1px solid #e4e4e4;
border-top: 1px solid #e4e4e4;
width: 100%;
}

.footer_inner {
box-sizing: border-box;
margin: 0 auto;
padding: 20px 0;
width: 960px;
}

.footer_inner_left {
float: left;
margin-right: 40px;
}

.footer_inner_logo {
margin-bottom: 10px;
}

.footer_inner_sns li {
float: left;
}

.footer_inner_sns li:nth-child(2) {
margin: 0 20px;
}

.footer_inner_sns li a {
display: block;
line-height: 28px;
}

.footer_inner_right {
float: left;
}

.footer_inner_link_wrap {
float: left;
margin-right: 60px;
}

.footer_inner_link_wrap li {
margin-bottom: 8px;
}

.footer_bottom {
background-color: #fff;
}

.footer_bottom_inner {
margin: 0 auto;
width: 960px;
}

.footer_bottom_inner_attention,
.footer_bottom_inner_copy {
font-size: 12px;
line-height: 30px;
}

.footer_bottom_inner_attention {
float: left;
}

.footer_bottom_inner_copy {
float: right;
}

