@charset "utf-8";


/* ----------------------------------------------------------------
*	00.commonItems
*	01.content
*	02.sidebar
----------------------------------------------------------------- */

/* ----------------------------------------------------------------
00. commonItems
----------------------------------------------------------------- */
/* --- btn --- */
.btn {
background-color: #fff;
display: block;
font-size: 16px;
height: 50px;
line-height: 3;
margin: 0 auto;
text-align: center;
text-decoration: none;
width: 330px;
}

.btn.usually {
background-image: url(common/images/btn_arrow_off.jpg);
background-repeat: no-repeat;
background-position: 95% 50%;
border: 2px solid #9cd8e3;
color: #9cd8e3;
}

.btn.usually:hover {
background-color: #9cd8e3;
background-image: url(common/images/btn_arrow_on.jpg);
color: #fff;
}

/* --- ttl --- */
.main_ttl {
background-position: 0 50%;
background-repeat: no-repeat;
color: #3c3c3c;
font-size: 16px;
font-weight: bold;
line-height: 20px;
margin-bottom: 20px;
padding-left: 36px;
}

.main_ttl.camera {
background-image: url(common/images/ttl-icon-camera.png);
}

.main_ttl.topic {
background-image: url(common/images/ttl-icon-topic.png);
}

.main_ttl.rank {
background-image: url(common/images/ttl-icon-rank.png);
}


/* --- slides --- */
.responsible_slides {
padding-left: 20px;
}

.responsible_slides li {
background-color: #fff;
float: left;
height: 320px;
margin-right: 20px;
width: 260px;
}

.responsible_slides li:last-child {
margin-right: 0;
}

/* --- tabbox --- */
.responsible_tabbox {
border: 1px solid #e4e4e4;
border-radius: 0 0 5px 5px;
margin-bottom: 30px;
width: 820px;
}

.responsible_tabbox_selector {
display: table;
table-layout: fixed;
width: 100%;
}

.responsible_tabbox_selector li {
background-color: #fff;
border-right: 1px solid #e4e4e4;
box-sizing: border-box;
cursor: pointer;
display: table-cell;
font-size: 12px;
font-weight: bold;
height: 49px;
line-height: 49px;
text-align: center;
}

.responsible_tabbox_selector li:last-child {
border-right: none;
}

.responsible_tabbox_selector li:hover {
background-color: #e4e4e4;
}

.responsible_tabbox_selector li.current {
background-color: #9dd7e5;
color: #fff;
}

.responsible_tabbox_content {
background-color: #fff;
border-top: 1px solid #e4e4e4;
border-radius: 0 0 5px 5px;
box-sizing: border-box;
height: 350px;
padding: 20px;
width: 100%;
}

/* --- banner_wrap --- */
.banner_wrap {
width: 100%;
}

.banner_wrap li {
background-color: #fff;
float: left;
height: 150px;
margin: 0 20px 20px 0;
width: 400px;
}

.banner_wrap li:nth-child(even) {
margin-right: 0;
}

.banner_wrap li:nth-child(n+3) {
margin-bottom: 0;
}

.banner_wrap li a {
display: block;
}

.banner_wrap li a:hover {
opacity: 0.6;
}

/*- ------- .snap_item -------  */
.snap_item {
display: block;
height: 320px;
overflow: hidden;
position: relative;
width: 257px;
}

.snap_item .day {
color: #fff;
position: absolute;
right: 10px;
text-shadow: 0 0 3px #3b3b3b;
top: 10px;
z-index: 101;
-moz-text-shadow: 0 0 3px #3b3b3b;
-webkit-text-shadow: 0 0 3px #3b3b3b;
}

.snap_item_img {
height: 100%;
left: 50%;
position: absolute;
top: 50%;
width: auto;
z-index: 100;
-webkit-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
}

.snap_item_txt_wrap {
background-color: rgba(50,50,50,0.8);
bottom: 0;
box-sizing: border-box;
padding: 20px 20px 10px 20px;
position: absolute;
width: 100%;
z-index: 101;
}

.snap_item_txt_wrap_name {
color: #fff;
font-size: 22px;
font-weight: bold;
line-height: 22px;
}

.snap_item_txt_wrap_affiliation {
color: #fff;
font-size: 12px;
text-align: right;
}

/* --- thum_list_box --- */
.thum_list_box li {
margin-bottom: 20px;
}

.thum_list_box li:last-child {
margin-bottom: 0;
}

.thum_list_box_item {
display: table;
text-decoration: none;
width: 100%;
}

.thum_list_box_item_thum {
display: table-cell;
height: 90px;
overflow: hidden;
padding-right: 15px;
position: relative;
width: 90px;
}

.thum_list_box_item_side {
display: table-cell;
}

.thum_list_box_item_side .ttl {
color: #3b3b3b;
font-size: 22px;
font-weight: bold;
visibility: visible;
word-break: break-all;
}

.thum_list_box_item_side .ttl:hover {
text-decoration: underline;	
}

.thum_list_box_item_side .name {
color: #cdcdcd;
font-size: 14px;
text-align: right;
text-decoration: none;
}

/* ----------------------------------------------------------------
01. content
----------------------------------------------------------------- */
/* --- content --- */
.content {
background-color: #9dd7e5;
padding: 40px 0 60px;
width: 100%;
}

.content_keyvisual_wrap {
background-color: #fff;
margin: 0 auto 40px;
height: 360px;
width: 960px;
}

/* --- content_inner --- */
.content_inner {
background-color: #fdebfb;
box-sizing: border-box;
margin: 0 auto;
padding: 30px 50px 30px 60px;
width: 960px;
}

.content_inner_box {
margin-bottom: 40px;
}

/* ----------------------------------------------------------------
02. sidebar
----------------------------------------------------------------- */
/* --- sidebar --- */